
@font-face {
	font-family: Areal;
	src: url('./fonts/areal.woff2') format("woff");
}

body {
	font-family: monospace;
}

:root {
	--bg: #CCE0BE;
	--col: #3A6F55;
	--monospaceness: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.message {
	font-family: Areal;
	font-variation-settings: "MONO" var(--monospaceness);
	font-weight: 400;
	line-height: 1.45em;
	font-size: 1em;
}

button.chill{
	display: inline-block;
  border: none;
	border-bottom: 1px solid var(--col);
}
.caption {
	opacity: .65;
}


ul {
	margin-top:.5em;
	margin-left: 1.5em;
	margin-bottom: .85em;
}
li::marker {
  content: "⊙  ";
  font-size: .8em;
}

a {
	all: unset;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-thickness: 1px;
  text-underline-offset: .25em;
}

button:hover,
a:hover{
	background-color: var(--col);
	color: var(--bg);
}

body {
	background: var(--bg);
	color: var(--col);
	max-width: 450px;
	margin: 4em auto;
	padding-bottom: 4em;
}

h1 {
	border-bottom: 1px solid var(--col);
	margin-bottom: .5em;
	font-size: 2.4em;
/* font-size: 2.1em; */
  padding-bottom: .5em;
}

h2 {
	margin-bottom: .5em;
	font-size: 2em;
}

h4{
	font-weight: 100;
	margin-bottom: 1em;
}

h5{
	margin-bottom: 1em;
	font-weight: 100;
}

p {
	margin-top: .5em;
}

.two-col {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.info{
	background-color: var(--col);
	color: var(--bg);
	padding: .25em;
	margin-top: 1.55em;
}

.info h4{
	margin: .5em;
}

.message hr {
  margin-top: 1.25em;
}

hr {
	border: .5px solid #2222;
	margin-top: 2.5em;
  margin-bottom: .85em;
}


.bar {
	height: 3em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: .25em;
	margin-bottom: .5em;
}

.woof {
	margin-bottom: .25em;
}

#buttons {
	display: flex;
	font-size: 2em;
}
#buttons button {
	padding: .5em;
	margin-right: .25em;
}

.list-item {
	border-top: .5px solid;
  padding-top: .75em;
	display: grid;
	grid-template-columns: 2em auto;
	grid-gap: 1em;
}

.list-item a {
	text-decoration: none;
}

.going {
	padding: .5em;
	background-color: #A7D96C;
	color: var(--col);
	border: 1.5px solid var(--col);
	/* text-transform: uppercase; */
	display: grid;
  grid-template-columns: 60px auto;
	grid-gap: 1em;
	font-size: 1.3em;
}

.going img {
	width: 60px;
}

.list-item img {
	width: 2em;
}

button {
	all: unset;
	border: 1.5px solid var(--col);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	touch-action: manipulation;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

button[active="true"] {
  background: var(--col);
  color: var(--bg);
}

.controls {
	display: grid;
	padding: 10px 0;
	grid-template-columns: 1fr 1fr;
	/* gridGap: 50px */
}

.container {
	margin: 0 auto;
}

.rsvp {
	padding: 25px;
	border: 2px solid var(--col);
	position: relative;
	margin: 3em 0;
}

canvas {
	border: 2px solid var(--col);
}

.rsvp[authenticated='true'] .overlay {
	display: none;
}
.rsvp[authenticated='false'] .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.shield {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--col);
	opacity: .75;
	border: 2px solid #1114;
	box-shadow: 0 0 25px 5px #2222;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay .box{
	background-color: #fff;
	font-size: 1.5em;
	z-index: 2;
}

.box > * {
	padding: .75em;
	box-shadow: 0 0 45px 5px #2222;
	/* margin: .25em; */
}

.rsvp-btn {
	width: 100%;
	height: 80px;
	background: var(--col);
	color: var(--bg);
	font-size: 2em;
	text-transform: lowercase;
	margin-top: .25em;
}

.label {
	border: none;
}

#sliders > * {
	display: grid;
	grid-template-columns: 85px auto;
}

input[type="range"] {
	margin: auto;
	-webkit-appearance: none;
	position: relative;
	overflow: hidden;
	height: 30px;
	width: 200px;
	cursor: pointer;
	border-radius: 0;

	background: #1112;
	margin-right: 10px;
	margin-bottom: 2px;
	border: 2px solid var(--col);
}

.controls .label {
	padding: .25em;
	font-size: 1.2em;
	background-color: white;
	border: 2px solid var(--col);
	border-radius: 50px;
	font-weight: 600;
	margin: .25em;
	margin-right: 1em;
}

.notification {
	z-index: 9819945129;
	min-width: 300px;
	width: 25vw;
	max-width: 400px;
	color: var(--col);
	background-color: var(--bg);
	padding: 1em;
	min-height: 4em;
	border: 2px solid var(--col);
	box-shadow: 6px 6px 0 rgba(0, 0, 0, .13);
	opacity: 1;
	transition: all 2500ms ease;
	pointer-events: none;
}

.images img {
	width: 82px;
	margin-right: .5em;
	border: 1.5px solid var(--col);
	/* mix-blend-mode: multiply; */
}

.images {
	margin-top: .5em;
}


/*
* 1. Set to 0 width and remove border for a slider without a thumb
* 2. Shadow is negative the full width of the input and has a spread 
*    of the width of the input.
*/
::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 30px;
	/* 1 */
	height: 30px;
	background: #fff;
}

::-moz-range-track {
	height: 30px;
}

::-moz-range-thumb {
	background: #fff;
	height: 30px;
	width: 30px;
	box-sizing: border-box;
	border-radius: 0px !important;
	border: 2px var(--col) solid;
}

::-ms-fill-lower {
	background: #222;
}

::-ms-thumb {
	background: #fff;
	height: 30px;
	width: 30px;
	box-sizing: border-box;
}

::-ms-ticks-after {
	display: none;
}

::-ms-ticks-before {
	display: none;
}

::-ms-track {
	background: #2228;
	color: transparent;
	height: 40px;
	border: none;
}

::-ms-tooltip {
	display: none;
}

@media only screen and (max-width: 480px) {
	body {
		margin: 1em;
	}

	.rsvp {
		padding: .25em;
		border: none;
		border-top: 2px solid var(--col);
	}

	.controls {
		grid-template-columns: 1fr;
		grid-template-rows: .40fr 1fr;
		grid-gap: 1em;
	}
}

.rsvp-btn[loading='true'] {
	animation: blink .5s ease-in-out infinite;
}

@keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.3; }
}
